<div class="partial-2 flex w-6 bg-blue-500">

  
<!-- <div class="bg-yellow-600 partial border-round-xl m-auto">
  <p-floatLabel>
    <input pInputText class="w-full m-auto my-3" d="username" [(ngModel)]="vendor.username" />
    <label for="username">Username</label>
  </p-floatLabel>
  <br />
  <p-floatLabel class="w-full m-auto my-3">
    <input class="w-full m-auto" pInputText id="password" [(ngModel)]="vendor.password" />
    <label for="password">Password</label>
  </p-floatLabel>
  <br>
  <button class="w-full m-auto my-3" (click)="submitForm(vendor)" pButton pRipple label="Submit" [disabled] = "!enableButton" [class]="sumbitButtonStyle"></button>
</div> -->
</div>