
<div class="w-screen flex h-screen">
  <div class="left w-6 text-center align-self-center">
Left
  </div>
  <div class="block card m-auto">
    <h2 class="text-center title" [@buttonColor]="showHeader ? 'open' : 'closed'">{{title}} </h2> <br>
    <p-floatLabel>
      <input pInputText class=" m-auto fixing-width my-3" d="username" [(ngModel)]="vendor.username" />
      <label for="username">Username</label>
    </p-floatLabel>
    <br />
    <p-floatLabel class="m-auto my-3">
      <input class="fixing-width m-auto" pInputText id="password" [(ngModel)]="vendor.password" />
      <label for="password">Password</label>
    </p-floatLabel>
    <br>
    <nav>
    </nav>
    <button class="m-auto my-3 fixing-width p-button-success" (click)="submitForm(vendor)"
     [@buttonColor]="enableButton ? 'open' : 'closed'" pButton pRipple label="Submit"></button>
  </div>
</div>