body{
    margin: 0;
}
.left{
width: 50%;
height: 98vh;
background-image: url("https://placehold.jp/0779a5/ffffff/150x150.png") ;
}
.partial-1 {
  border: 2px solid red;
  display: block;
  border-radius: 7px;
  background-color: rgb(87, 87, 214);
  width: 40%;
}
.partial {
  align-self: baseline;
  vertical-align: middle;
}
.partial-2 {
  border: 2px dashed black;
  margin: 0;
  padding: 0;
  height: 2rem;
  float: right;
}
.fixing-width {
  border: 2px solid red;
  width: 23em;
  margin: auto;
}
