.title{
  margin-top: 0;
  margin-bottom: 7rem;
}
.left{
width: 50%;
height: 98vh;
background-image: url("https://placehold.jp/0779a5/ffffff/150x150.png") ;
}
.fixing-width {
  width: 23em;
  height: 2rem;
  margin: auto;
}
.card{
    height: 60%;
}
html, body {
  margin: 0;
}